span.linkStyle {
    cursor:pointer;
    color:blue;
    text-decoration:underline;
}

span.linkStyle:hover {
    text-decoration:none;
    text-shadow: 1px 1px 1px #555;
}

.container-fluid {
    padding-top: 10px;
}